@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.header {
    min-height: 100lvh;
}

.header .video-container video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: blur(3px);
}

.header .video-container .blackout {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    z-index: -1;
}

.header .menu-container .menu {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 3vh 2dvw;
}
.header .menu-container .menu img {
    width: 100%;
    height: 20px;
}

.header .menu-container  .menu .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 16px;
}
.header .menu-container  .menu ul,
.header .menu-container  .menu .contact,
.header .menu-container  .menu .lang {
    display: none;
}
.header .menu-container  .menu #bars  {
    color: #fff;
    font-size: 20px;
    margin-left: 10dvw;
}
.header .data-container {
    margin-top: 5lvh;
}

.header .data-container .text h1 {
    text-align: center;
    color: #fff;
}
.header .data-container .text p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 2lvh;
    opacity: .8;
}

.header .data-container .text .button-container {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 4lvh;
    border: 2px solid #F14D34;
    display: flex;
    justify-content: center;
    transition: .3s;
    padding: 3lvh 3dvw;
}
.header .data-container .text .button-container:hover {
    background: #F14D34;
}
.header .data-container .text .button-container button {
    font-size: 12px;
    border: none;
    text-align: center;
    background: none;
    color: #fff;
}
.header .data-container .achievements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3lvh 6dvw;
}
.header .data-container .achievements .achievement {
    width: 100%;
    max-width: 150px;
    color: #fff;
    border-left: 4px solid #F14D34;
    padding-left: 2dvw;
    margin: 3lvh 1vw;
}

.header .data-container .achievements .achievement:first-child {
    height: 67px;
}
.header .data-container .achievements .achievement:first-child p {
    margin-bottom: 30px;
}
.header .data-container .achievements .achievement .cup-container {
    display: flex;
}
.header .data-container .achievements .achievement h2 {
    font-size: 24px;
}
.header .data-container .achievements .achievement #main-text-big {
    font-size: 48px;
}
.header .data-container .achievements .achievement p {
    font-size: 12px;
}

.services {
    display: block;
    height: 100lvh;
}

 @media (min-width: 1260px) {
    .header .menu-container .menu {
        background-color: inherit;
        padding: 0;
        padding-top: 5lvh;
        width: 100%;
        max-width: 1260px;
        margin: 0 auto;
    }
    .header .menu-container .menu img {
        height: 40px;
    }
    .header .menu-container .menu ul {
        width: 100%;
        max-width: 600px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }
    .header .menu-container .menu ul li {
        color: #fff;
        font-size: 12px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .header .menu-container .menu ul li::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 3px;
        transition: .5s;
    }
    .header .menu-container .menu ul li:hover::after {
        background-color: #F14D34;
    }
    .header .menu-container .menu .contact {
        color: #fff;
        font-weight: 600;
    }
    .header .menu-container .menu .lang {
        color: #fff;
        display: flex;
    }
    .header .menu-container .menu .lang p {
        text-transform: uppercase;
        margin-right: 5px;
    }
    .header .menu-container .menu #bars {
        display: none;
    }

    .header .data-container {
        width: 100%;
        max-width: 1260px;
        margin: 20lvh auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-content: center;
    }
    .text {
        max-width: 300px;
    }
    .header .data-container .text h1 {
        font-size: 48px;
        text-align: left;
    }
    .header .data-container .text p {
        text-align: left;
    }
    .header .data-container .text .button-container {
        margin: 5lvh 0;
    }
    .achievements {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 0;
    }
    .header .data-container .achievements .achievement {
        max-width: 200px;
    }
 }